body {
    font-family: helvetica, sans-serif, arial;
    font-size: 1em;
    color: #119;
}

h1 {
    text-align: center;
}

#terminal-container {
    width: 1200px;
    height: 750px;
    margin: 0 auto;
    padding: 3px;
    fontSize: 19;
    fontFamily: 'Ubuntu Mono, courier-new, courier, monospace';
}
