doctype html
head
  title xterm.js demo
  link(rel='stylesheet' href='/build/xterm.css')
  link(rel='stylesheet' href='/build/addons/fullscreen/fullscreen.css')
  link(rel='stylesheet' href='style.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.auto.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/fetch/1.0.0/fetch.min.js')
  style.
    .button {
    display: inline-block;
    padding: 5px 5px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: 2px;
    border-radius: 5px;
    box-shadow: 0 9px #999;
    }
    .button:hover {background-color: #3e8e41}
    .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    }
p
  form(method='get' action='/paste')
    h4
      | Step 1: Lets get into the bash shell using the bash command:  
      b
        h4
          input.button(type='submit' value='bash' name='msg')
  form(method='get' action='/paste')
    h4
      | Step 2: pwd command shows the present working directory. Try by typing pwd on the terminal or click here:  
      b
        h4
          input.button(type='submit' value='pwd' name='msg')
  form(method='get' action='/paste')
    h4
      | Step 3: ls &mdash; Use the &quot;ls&quot; command to know what files are in the directory you are in.&rdquo; 
      b
        h4
          input.button(type='submit' value='ls' name='msg')
  form(method='get' action='/paste')
    h4
      | Step 4: ls -a will show all files including hidden files. 
      b
        h4
          input.button(type='submit' value='ls -a' name='msg')
  form(method='get' action='/paste')
    h4
      | Step 5: ls -lrt will show all details of files including permissions, modified date etc.. 
      b
        h4
          input.button(type='submit' value='ls -lrt' name='msg')
  form(method='get' action='/paste')
    h4
      | Step 6: &quot;cd&quot; command will go to a directory  
      b
        h4
          input.button(type='submit' value='cd var' name='msg')
  form(method='get' action='/paste')
    h4
      | Step 7: mkdir 
      directory(name='')
        | will create a directory with given name. 
        b
          h4
            input.button(type='submit' value='mkdir test' name='msg')
  br
  i
    | Tip: Now run the ls command in step 3 to list all contents of current directory. You will see &quot;test&quot; directorycreated. 
    br
  form(method='get' action='/paste')
    h4
      | Step 8: rmdir 
      directory(name='')
        | will delete the given directory. 
        b
          h4
            input.button(type='submit' value='rmdir test' name='msg')
  form(method='get' action='/paste')
    h4
      br
      br
      |  Good job! Now let us create a shell script and run it.
      br
      textarea(cols='40' rows='8' name='msg')
        | cat &lt;
        eof
          | print.sh
          | #!/bin/bash
          | echo \$PWD
          | echo $PWD
          | EOF
      br
      input(type='submit' value='Run above command')
  script(src='dist/bundle.js' defer='')

