doctype html
head
  title  Box Lab
frameset(cols='25%,75%')
  frame(name='left' src='/linuxcommands.html')
  frame(name='center' src='/index.html?image='+ image)
  noframes
    | Your browser does not support frames.
